<!doctype html>
<html lang="en-US">
  <head>
  </head>
  <body>
    <%= session.delete(:message) %>
    <ul>
      <% @files.each do |file| %>
        <li><a href="/<%= file %>"><%= file %></a></li>
      <% end %>
    </ul>
  </body>
</html>
